<h1 class="mb-4">Wallets</h1>

<div class="table-responsive">
   <table id="wallets-table" class="table table-striped">
    <thead>
      <tr>
        <th>Wallet Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @wallets.each do |wallet| %>
        <tr>
          <td><%= link_to wallet.name, wallet_path(wallet), class: "text-decoration-none" %></td>
          <td><%= link_to 'View Details', wallet_path(wallet), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
    $(document).ready(function() {
      $('#wallets-table').DataTable();
    });
  </script>
</div>
