@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('money.jpg');
    backdrop-filter: blur(4px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body>h1 {
    color: white;
    padding: 10px;
    font-style: italic;
}

.integration {
    color: white;
    font-weight: 200;
}

.navbar {
    background: transparent;
}

.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover {
    color: rgb(202, 166, 202);
}

.welcome {
    color: white;
}

.welcome h1 {
    font-weight: 400;
    color: black;
}

.page-title {
    color: white;
    font-weight: 400;
    font-style: italic;
}

.dataTables_wrapper .dataTables_info {
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    color: #000;
    background-color: #fff;
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label {
    color: #fff;
}

.dataTables_wrapper .dataTables_length select option {
    color: #000;
    background-color: #fff;
}


.table-responsive {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.table {
    color: #fff;
    background-color: transparent;
}

.table thead th {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.table tbody tr {
    background-color: rgba(0, 0, 0, 0.5);
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.abt-ct h1,h2, h3 {
    color: white;
    font-weight: 300;
    font-style: italic;
}